* {
outline: 0px dotted lime;
}

/*
grey details #afb4bc
background #bac9d6
text #206881
text highlight #174859

details #188CBD
background #F0F7FA
text black
text highlight #ADD6E2

Grey #777
Black #000
Dark Grey #111
White #fff
*/

@import url('https://fonts.googleapis.com/css?family=Lato');




/* parallax */

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1, .video_head, .animation_head, .conceptart_head, .about_img {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("img/DSC_0892_crop.jpg");
    min-height: 100%;
}

.video_head {
    background-image: url("img/Fire%20Capture.JPG");
    min-height: 400px;
}

.animation_head {
    background-image: url("img/Capture.JPG");
    min-height: 400px;
}
            
.conceptart_head {
    background-image: url("img/Sans%20Fans.png");
    min-height: 400px;
}

.about_img {
    background-image: url("img/20200229_195938.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* parallax */









/* BOOTSTRAP */




.blue {
    background-color: #3FB4FF;
    height: 50px;
}
            
.lime {
    background-color: #A6D800;
    height: auto;
    min-height: 150px;
}





















/* BOOTSTRAP */










/* Style */

.border {
    font-size:25px;
    color: #f7f7f7;
}

.reel {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

.reel h3 {
    text-align:center;
}

.video_wrapper {
    margin-top: 50px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    width: 100%;
}

.video_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border: 0;
    margin-left: 5%;
}

/*.img_wrapper {
    margin-top: 50px;
    position: relative;
    height: auto;
    width: 100%;
}

.img_wrapper image {
    width: 100%;
    height: auto;
}*/

/*grey here*/

.links {
    color: #777;
    background-color:white;
    padding:5px 80px 15px;
    text-align: center;
}

.links i {
    padding-left: 2.5px;
    padding-right: 2.5px;
}



/* Style */









.img_wrapper {
    margin-top: 50px;
    position: relative;
    height: auto;
    width: 100%;
}

.img_wrapper .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img_wrapper:hover .image {
  opacity: 0.3;
}




.gif_wrapper {
    margin-top: 50px;
    position: relative;
    height: auto;
    width: 100%;
}

.gif_wrapper .gif {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.gif_wrapper:hover .gif {
  opacity: 0.3;
}




















/* SCROLL NAV */


.Quick-navigation {
   position: fixed;
   z-index: 1;
   margin: 0;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
}

.Quick-navigation-item {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    /*font-size: 1.3em;*/
    transition: color 0.3s;
    padding: 0.5em;
    display: block;
}

.Quick-navigation-item:hover,
.Quick-navigation-item.current {
    color: #FFF;
}


.Scroll-progress-indicator {
    will-change: opacity, transform;
    transition: all 0.5s;
    left: -10px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    opacity: 0;
    padding: 2em;
    transform: translateX(200%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
}

.Scroll-progress-indicator.visible {
  transform: translateX(-100%) translateY(-50%);
  opacity: 1;
}


.Scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    padding: 0.5em;
    cursor: pointer;
    opacity:  0;
    transform: translateY(100%);
    transition: all 0.3s;
    outline: none;
}

.Scroll-to-top.visible {
  opacity: 1;
  transform: translateY(0);
}

.Scroll-to-top:hover {
  color: rgba(255, 255, 255, 0.9);
}


/* scroll nav*/







/* NAV MENU */

/*.hide {
    display: none;
}
    
.menu:hover .hide {
    display: inline;
    color: red;
}*/

strong {
    opacity: 0;
}

.hide {
    opacity: 0;
    display: inline;
}

.menu:hover .hide {
    opacity: 1;
    transition: color 0.2s;
}






/* nav menu */



#parallax-nav {
/*-webkit-text-size-adjust: 100%;*/
    color: #151313;
    font-family: europa;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .015em;
    line-height: 1.8em;
    display: block;
    position: fixed;
    z-index: 52;
    top: 50%;
    right: 15px;
    padding: 0 10px 0 0;
    transition: opacity .3s 0s linear;
    transform: translate3d(0,-50%,0);
}

/*document.querySelector("#parallax-nav")*/


/* SCROLL NAV ORIGINAL */

/*
html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 0px;
}

h1 {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    min-height: 100%;
    height: 100vh;
}
*/

/*.Quick-navigation {
   position: fixed;
   z-index: 1;
   margin: 0;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
}

.Quick-navigation-item {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;*/
    /*font-size: 1.3em;*/
   /* transition: color 0.3s;
    padding: 0.5em;
    display: block;
}

.Quick-navigation-item:hover,
.Quick-navigation-item.current {
    color: #FFF;
}
*/
/*.Scroll-progress-indicator {
    will-change: opacity, transform;
    transition: all 0.5s;
    left: -10px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    opacity: 0;
    padding: 2em;
    transform: translateX(200%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
}

.Scroll-progress-indicator.visible {
  transform: translateX(-100%) translateY(-50%);
  opacity: 1;
}

#A {
  background-color: crimson;
}

#B {
  background-color: lighten(crimson, 10%);
}

#C {
  background-color: lighten(crimson, 20%);
}

#D {
  background-color: lighten(crimson, 30%);
}

#E {
  background-color: lighten(crimson, 40%);
}

.Scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    padding: 0.5em;
    cursor: pointer;
    opacity:  0;
    transform: translateY(100%);
    transition: all 0.3s;
    outline: none;
}

.Scroll-to-top.visible {
  opacity: 1;
  transform: translateY(0);
}

.Scroll-to-top:hover {
  color: rgba(255, 255, 255, 0.9);
}
*/






/* scroll nav original*/














